nav img
{
    width: 443px;
    height: 80px;

    margin-left: 60px;
    margin-right: 350px;
}

#myNavbar ul
{
    margin-right: 70px;
}

#myNavbar ul li a
{
    font-size: 14px;
    color: #6c6c6c;
    margin-right: 30px;
}
#myNavbar ul li a:hover
{
    color: #d7ac41 ;
}

/* top-area */
#top-area
{
    background-image: url("../img/top-banner.jpg");
    background-attachment: fixed;
    
}
#top-area .top-text
{
    margin: 335px 315px;
}
#top-area .top-text .title
{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#top-area .top-text .content
{
    font-size: 24px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


/* about-area */
#about-area
{
    background-image: url("../img/about-bg.jpg");
}

#about-area img
{
    padding: 100px 660px 40px 660px;
}

#about-area .content
{
    margin-left: 335px;
    margin-right: 335px;
}

#about-area .content .section
{
    text-align: left;
    padding-bottom: 40px;
}
#about-area .content .section-3
{
    padding-bottom: 100px;
}
#about-area .content .section .text
{
    font-size: 16px;
    color: #adadad;
    font-weight: 300;
    line-height: 1.62;
}

#about-area .content .section .text-big
{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}
#about-area .line
{
    border: solid 1px;
    width: 62px;
    color: #d7ac41;
    margin-top: 0px;
    margin-bottom: 40px;
}

/* service-area */

#service-area
{
    background-image: url("../img/service-bg.jpg");
}

#service-area .content
{
    padding-top: 100px;
}

#service-area .content .title
{
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;

    padding: 25px 600px 40px 600px;
}

#service-area .c-block
{
    background: #ffffff;
    max-width: 270px;
    height: 60px;

    margin-right: 30px;
    margin-bottom: 30px;
    line-height:60px;
}
#service-area .c-block a
{
    font-size: 16px;
    color: #6c6c6c;
}
#service-area .null-block
{
    max-width: 270px;
    height: 60px;

    margin-right: 30px;
    margin-bottom: 100px;
}

/* team-area */
#team-area .line
{
    border: solid 1px;
    width: 62px;
    color: #d7ac41;
    margin-top: 100px;
    margin-bottom: 25px;
}
#team-area .title
{
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;

    padding: 25px 600px 40px 600px;
}

#team-area .t-persons
{
    margin-left: 135px;
    margin-right: 135px;
}
#team-area .t-person
{
    /* margin-right: 30px; */
}
#team-area .t-person img
{
    width: 270px;
    height: 400px;
}
#team-area .t-person .content
{
    padding-left: 30px;
}
#team-area .t-person p
{
    font-size: 16px;
    color: #6c6c6c;
}
#team-area .t-person .p-name
{
    color: rgba(0, 0, 0, 0.6);
    font-size: 50px;
    font-weight: 600;
    padding-top: 40px;
}
#team-area .t-person .p-title
{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 18px;
}
#team-area .t-person .p-say
{
    margin-bottom: 16px;
}
#team-area .t-person .p-content
{
    margin-bottom: 20px;
}

#team-area .all-member-block
{
    width: 270px;
    height: 60px;
}