nav img
{
    width: 443px;
    height: 80px;

    margin-left: 60px;
    margin-right: 350px;
}

#myNavbar ul
{
    margin-right: 70px;
}

#myNavbar ul li a
{
    font-size: 14px;
    color: #6c6c6c;
    margin-right: 30px;
}
#myNavbar ul li a:hover
{
    color: #d7ac41 ;
}

/* top-area */
#top-area
{
    background-image: url("../img/top-banner.jpg");
    background-attachment: fixed;
    
}
#top-area .top-text
{
    margin: 335px 315px;
}
#top-area .top-text .title
{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#top-area .top-text .content
{
    font-size: 24px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


/* about-area */
#about-area
{
    background-image: url("../img/about-bg.jpg");
}

#about-area img
{
    padding: 100px 660px 40px 660px;
}

#about-area .content
{
    margin-left: 335px;
    margin-right: 335px;
}

#about-area .content .section
{
    text-align: left;
    padding-bottom: 40px;
}
#about-area .content .section-3
{
    padding-bottom: 100px;
}
#about-area .content .section .text
{
    font-size: 16px;
    color: #adadad;
    font-weight: 300;
    line-height: 1.62;
}

#about-area .content .section .text-big
{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}
#about-area .line
{
    border: solid 1px;
    width: 62px;
    color: #d7ac41;
    margin-top: 0px;
    margin-bottom: 40px;
}